body{

    font-family: 'Open Sans', sans-serif;

}

#top-half{
    background-image: linear-gradient(#d930f0, #cf6a1d); 
    width: 100%;
    height: 455px;
}

#bottom-half{
    height: 450px;
    width: 100%;
    background-color: white;
}